@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900&display=swap');


body {
  position:fixed;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Roboto Mono;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  display: block;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5em;
  text-shadow:
  1px 1px 0 #FFFFFF,
  1px -1px 0 #FFFFFF,
  -1px 1px 0 #FFFFFF,
  -1px -1px 0 #FFFFFF,
  1px 0px 0 #FFFFFF,
  0px 1px 0 #FFFFFF,
  -1px 0px 0 #FFFFFF,
  0px -1px 0px #FFFFFF,
  1px 1px 1px #FFFFFF,
  1px 1px 1px #FFFFFF;
  color: #000000;
  background: #000000;
  font-weight: 800;
  /* bottom: 0.6em; */
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0em 10em 0em 10em;
  font-size: .75em;
  letter-spacing: .4em;
}

.h1horoscope {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0em 10em 0em 10em;
  font-size: .6em;
  letter-spacing: .4em;
}

h5 {
  display: flex;
  text-align: justify;
  justify-content: center;
  padding: 0em 15em 0em 15em;
  font-size: 0.5em;
  opacity: .9;

}

.signs-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0em 5em 0em 5em;
  overflow: scroll;
}

.sign-card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75px;
  height: 160px;
  padding: 0em 1.5em 0em 1.5em;
  opacity: .4;
}

.sign-card:hover {
  opacity: 1;
}

.signs-container2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0em 5em 0em 5em;
  overflow: scroll;

}

.sign-card2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75px;
  height: 160px;
  padding: 0em 1.5em 0em 1.5em;
  opacity: .4;
}

.sign-card2:hover {
  opacity: 1;
}

.sign-card-content{
  position: absolute;
  bottom: 0;
  font-size: .8em;
}

.planet-card {
  position: relative;
  display: flex;
  align-items: center;
  opacity: .5;
  text-align: center;
  height: 5em;
}

.planet-card:hover {
  opacity: .9;
}

.planet-card img {
  width: 75px;
  height: 75px;
}

.planet-card-content{
  position: absolute;
  bottom: 0;
  font-size: .4em;
  text-align: center;
  background-color: black;
  opacity: 1;
}

.horoscope-display {
  display: grid;
  grid-template-columns: 0.8fr 0.9fr 1.3fr 1fr 1fr;
  grid-template-rows: 1fr 1.4fr 1fr 1fr;
  grid-template-areas: "img Heading Heading Heading Heading" "planets planets planets planets planets" "Moon Moon horoscope horoscope horoscope" "Moon Moon horoscope horoscope horoscope";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-repeat: no-repeat;
}



.horoscope-img {
  position:relative;
  text-align: center;
  grid-area: img;
  border-style: solid;
  padding: 2em 0em 0em 0em;
  border-width: 0px .05px .05px 0px;
  border-color: #1a1a1a ;
  font-size: .8em;
  opacity: .6;
}

/* .self-help-image {
position:relative;
text-align: center;
grid-area: img;
border-style: solid;
padding: 2em 0em 0em 0em;
border-width: 0px .05px .05px 0px;
border-color: #1a1a1a ;
font-size: .8em;
opacity: .6;
} */

.horoscope-img:hover {
  opacity: 1;
}

.horoscope-img img{
  width: 6em;
  height: 6em;
}

.horoscope-img p{
  position: absolute;
  bottom: 0;
  display:block;
  text-align: center;
}

.heading-card {
  /* position: relative; */
  grid-area: Heading;
  border-style: solid;
  border-width: 0px 0px .05px 0px;
  border-color: #1a1a1a;
}

/* .books-h2 {
position: relative;
grid-area: Heading;
border-style: solid;
border-width: 0px 0px .05px 0px;
border-color: #1a1a1a;
} */

.retrogrades {
  position: relative;
  display:grid;
  grid-area: planets;
  border-color: #1a1a1a;
  top: 0;
}

/* .books {
grid-area: books;
position: relative;
width: 100vw;
} */

/* .books-container {
position: absolute;
border-color: #1a1a1a;
display: flex;
justify-content: space-around;
flex-direction: row;
/* flex-wrap: wrap;
margin: -3em 0em 0em 0em;
} */

.planets-container {
  width: 100vw;
  border-color: #1a1a1a;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -3.5em 0em 0em 0em;
}


.moon {
  grid-area: Moon;
  border-style: solid;
  border-width: .5px .5px 0px 0px;
  border-color: #1a1a1a;
}

.horoscope {
  grid-area: horoscope;
  border-style: solid;
  border-width: .5px 0px 0px 0px;
  border-color: #1a1a1a;
}

h3 {
  font-size: .7em;
  display:block;
  margin: 0;
  left: 0;
  padding: .5em;
}

h6 {
  font-size: .5em;
  text-align: center;
}

h4 {
  font-size: .6em;
  text-align: left;
  display: block;
  margin: 3em;
}

.moon-container img {
  margin-top: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85px;
  height: 170px;
}

.modal {
  z-index: 2;
  opacity: 1;
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  font-size: .7em;
  border-style: solid;
  padding: 2em;
  border-radius: .5em;
  overflow: auto;
  height: 20em;
  width: 22em;
  text-align: left;
}

.background-modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: black;
}

.closed {
  position: absolute;
  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  top: 5px;
  /* needs to look OK with or without scrollbar */
  right: 5px;
  border: 0;
  background: black;
  color: white;
  padding: 2px 3px;
  font-size: 1.3rem;
}

html {
  background: black;
}

/* border stuff */
.border-text {
  width:100%;
  position: absolute;
  display:flex;
  background:black;
  white-space:nowrap;
  overflow: visible;
  font-size: .8em;
  animation: animate 15s linear infinite;
  margin: 0;
  padding: 0;
  top: 0%;
  font-family: Montserrat;
  font-weight: 800;
  text-shadow:
  1px 1px 0 #FFFFFF,
  1px -1px 0 #FFFFFF,
  -1px 1px 0 #FFFFFF,
  -1px -1px 0 #FFFFFF,
  1px 0px 0 #FFFFFF,
  0px 1px 0 #FFFFFF,
  -1px 0px 0 #FFFFFF,
  0px -1px 0px #FFFFFF,
  1px 1px 1px #FFFFFF,
  1px 1px 1px #FFFFFF;
  color: #000000;
  background: #000000;
}

@keyframes animate
{
  0%
  {
    transform: translateX(0);
  }
  100%
  {
    transform: translateX(-100%);
  }
}
.border-text-bottom {
  width:100%;
  position: absolute;
  display:flex;
  background:black;
  white-space:nowrap;
  font-size: .8em;
  animation: bottom 15s linear infinite;
  margin: 0;
  padding: 0;
  top: 97%;
  font-family: Montserrat;
  font-weight: 800;
  text-shadow:
  1px 1px 0 #FFFFFF,
  1px -1px 0 #FFFFFF,
  -1px 1px 0 #FFFFFF,
  -1px -1px 0 #FFFFFF,
  1px 0px 0 #FFFFFF,
  0px 1px 0 #FFFFFF,
  -1px 0px 0 #FFFFFF,
  0px -1px 0px #FFFFFF,
  1px 1px 1px #FFFFFF,
  1px 1px 1px #FFFFFF;
  color: #000000;
  background: #000000;
}

@keyframes bottom
{
  0%
  {
    transform: rotate(180deg) translateX(0);
  }
  100%
  {
    transform: rotate(180deg) translateX(-100%);
  }
}
.border-text-left {
  width:100%;
  position: absolute;
  display:flex;
  background:black;
  white-space:nowrap;
  font-size: .8em;
  animation: left 15s linear infinite;
  margin: 0;
  padding: 0;
  left: -49%;
  font-family: Montserrat;
  font-weight: 800;
  text-shadow:
  1px 1px 0 #FFFFFF,
  1px -1px 0 #FFFFFF,
  -1px 1px 0 #FFFFFF,
  -1px -1px 0 #FFFFFF,
  1px 0px 0 #FFFFFF,
  0px 1px 0 #FFFFFF,
  -1px 0px 0 #FFFFFF,
  0px -1px 0px #FFFFFF,
  1px 1px 1px #FFFFFF,
  1px 1px 1px #FFFFFF;
  color: #000000;
  background: #000000;
}

@keyframes left
{
  0%
  {
    transform: rotate(-90deg) translateX(0) ;
  }
  100%
  {
    transform: rotate(-90deg) translateX(-100%) ;
  }
}
.border-text-right {
  width:100%;
  position: absolute;
  display:flex;
  background:black;
  white-space:nowrap;
  font-size: .8em;
  animation: right 15s linear infinite;
  margin: 0;
  padding: 0;
  right: -48.5%;
  font-family: Montserrat;
  font-weight: 800;
  text-shadow:
  1px 1px 0 #FFFFFF,
  1px -1px 0 #FFFFFF,
  -1px 1px 0 #FFFFFF,
  -1px -1px 0 #FFFFFF,
  1px 0px 0 #FFFFFF,
  0px 1px 0 #FFFFFF,
  -1px 0px 0 #FFFFFF,
  0px -1px 0px #FFFFFF,
  1px 1px 1px #FFFFFF,
  1px 1px 1px #FFFFFF;
  color: #000000;
  background: #000000;
}

@keyframes right
{
  0%
  {
    transform: rotate(90deg) translateX(0) ;
  }
  100%
  {
    transform: rotate(90deg) translateX(-100%) ;
  }
}

@media only screen and (max-width: 430px) {
  /* For tablets: */
  /* .col-s-1 {width: 8.33%;} */
  .border-text {display: none}
  .border-text-bottom {display: none}
  /* .border-text-left {display: none} */
  .border-text-right {top: 0; right: -49%}
  .border-text-left {
    top : 0;
    width:100%;
    position: absolute;
    display:flex;
    background:black;
    white-space:nowrap;
    font-size: .8em;
    animation: left 15s linear infinite;
    margin: 0;
    padding: 0;
    left: -48.5%;
    font-family: Montserrat;
    font-weight: 800;
    text-shadow:
    1px 1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    -1px -1px 0 #FFFFFF,
    1px 0px 0 #FFFFFF,
    0px 1px 0 #FFFFFF,
    -1px 0px 0 #FFFFFF,
    0px -1px 0px #FFFFFF,
    1px 1px 1px #FFFFFF,
    1px 1px 1px #FFFFFF;
    color: #000000;
    background: #000000;
  }

  @keyframes left
  {
    0%
    {
      transform: rotate(90deg) translateX(0) ;
    }
    100%
    {
      transform: rotate(90deg) translateX(-100%) ;
    }
  }
  body{position: relative}



}
