@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900&display=swap');


.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Roboto Mono;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  display: block;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5em;
  text-shadow:
  1px 1px 0 #FFFFFF,
  1px -1px 0 #FFFFFF,
  -1px 1px 0 #FFFFFF,
  -1px -1px 0 #FFFFFF,
  1px 0px 0 #FFFFFF,
  0px 1px 0 #FFFFFF,
  -1px 0px 0 #FFFFFF,
  0px -1px 0px #FFFFFF,
  1px 1px 1px #FFFFFF,
  1px 1px 1px #FFFFFF;
  color: #000000;
  background: #000000;
  font-weight: 800;
  bottom: 0.8em;
}


h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0em 10em 0em 10em;
  font-size: .6em;
  letter-spacing: .4em;
}

.h1horoscope {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0em 10em 0em 10em;
  font-size: .6em;
  letter-spacing: .4em;
}

h5 {
  display: flex;
  text-align: justify;
  justify-content: center;
  padding: 0em 25em 0em 25em;
  font-size: 0.6em;
  opacity: .9;

}

.signs-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0em 5em 0em 5em;
}

.sign-card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75px;
  height: 160px;
  padding: 0em 1.5em 0em 1.5em;
  opacity: .4;
}

.sign-card:hover {
  opacity: 1;
}

.signs-container2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0em 5em 0em 5em;
}

.sign-card2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75px;
  height: 160px;
  padding: 0em 1.5em 0em 1.5em;
  opacity: .4;
}

.sign-card2:hover {
  opacity: 1;
}

.sign-card-content{
  position: absolute;
  bottom: 0;
  font-size: .8em;
}



.planet-card {
  position: relative;
  display: flex;
  align-items: center;
  opacity: .5;
  text-align: center;
  height: 5em;
}

.planet-card:hover {
  opacity: 1;
}

.planet-card img {
  width: 75px;
  height: 75px;
}

.planet-card-content{
  position: absolute;
  bottom: 0;
  font-size: .4em;
  text-align: center;
}

.horoscope-display {
  display: grid;
  grid-template-columns: 0.8fr 0.9fr 1.3fr 1fr 1fr;
  grid-template-rows: 1fr 0.6fr 1.4fr 1fr 1fr;
  grid-template-areas: "img Heading Heading Heading Heading" "planets-heading planets-heading planets-heading planets-heading planets-heading" "planets planets planets planets planets" "Moon Moon horoscope horoscope horoscope" "Moon Moon horoscope horoscope horoscope";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-repeat:no-repeat;

}

.horoscope-img {
  grid-area: img;
  border-style: solid;
  padding: 0em 0em 0em 0em;
  border-width: 0px .05px .05px 0px;
  border-color: grey;
}

.horoscope-img img{
  width: 6em;
  height: 6em;
}

.heading-card {
  /* position: relative; */
  grid-area: Heading;
  border-style: solid;
  border-width: 0px 0px .05px 0px;
  border-color: grey;
}

#planet-heading {
  display:block;
  grid-area: planets-heading;
  left: 0;
  top: 0;
  padding: .3em;
}

.retrogrades {
  /* position: relative; */
  display:grid;
  grid-area: planets;
  border-color: grey;
}

.planets-container {
  width: 100vw;
  border-color: grey;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

}


.moon {
  grid-area: Moon;
  border-style: solid;
  border-width: .5px .5px 0px 0px;
  border-color: grey;
}

.horoscope {
  grid-area: horoscope;
  border-style: solid;
  border-width: .5px 0px 0px 0px;
  border-color: grey;
}

h3 {
  display:block;
  margin: 0;
  left: 0;
  padding: .3em;
}

h6 {
  font-size: .5em;
  text-align: center;
}

h4 {
  font-size: .7em;
  text-align: left;
  display: block;
  margin: 3em;
}

.moon-container img {
  margin-top: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85px;
  height: 170px;
}

.modal {
  opacity: 1;
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  font-size: .7em;
  border-style: solid;
  padding: 2em;
  border-radius: .5em;
  overflow: auto;
  height: 20em;
  width: 30em;
  text-align: left;

}

.closed {
  position: absolute;
  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;
  top: 5px;
  /* needs to look OK with or without scrollbar */
  right: 5px;
  border: 0;
  background: black;
  color: white;
  padding: 2px 3px;
  font-size: 1.3rem;
}
