@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900&display=swap');




.self-help-display {
  display: grid;
  grid-template-columns: 0.8fr 0.9fr 1.3fr 1fr 1fr;
  grid-template-rows: 1fr 1.4fr 1fr 1fr;
  grid-template-areas: "img heading heading heading heading" "books books books books books" "books books books books books" ". . . . .";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-repeat:no-repeat;
  background-color: black;
  background-size: cover;
  font-family: Roboto Mono;
  color: white;
  min-height: 100vh;
  background:black;


}
/* .App-header {
display: grid;
grid-template-columns: 0.8fr 0.9fr 1.3fr 1fr 1fr;
grid-template-rows: 1fr 1.4fr 1fr 1fr;
grid-template-areas: "img heading heading heading heading" "books books books books books" "books books books books books" ". . . . .";
grid-column-gap: 0px;
grid-row-gap: 0px;
background-repeat:no-repeat;
background-color: black;
background-size: cover;
font-family: Roboto Mono;
color: white;
min-height: 100vh;

} */


/* display: flex;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin); */
/* h2 {
grid-area: heading;
grid-area: heading;
border-style: solid;
border-width: 0px 0px .05px 0px;
border-color: #1a1a1a;
} */
.books-h2 {
  grid-area: heading;
  padding: 1.5em;
  font-size: 1.5em;
  /* border-style: solid;
  border-width: 0px 0px .05px 0px;
  border-color: #1a1a1a; */
}


.self-help-image {
  position: relative;
  text-align: center;
  grid-area: img;
  border-style: solid;
  padding: 1em 0em 0em 0em;
  border-width: 0px 0.5px 0px 0px;
  border-color: #1a1a1a ;
  opacity: .6;
}


.self-help-image:hover {
  opacity: 1;
}

.self-help-image img{
  width: 6em;
  height: 6em;
}
/* .self-help-image { grid-area: img; } */

.books {
  position: relative;
  grid-area: books;
  display: flex;
  border-style: solid;
  border-width: 0.5px 0px 0px 0px;
  border-color: #1a1a1a ;
  justify-content: space-around;
  align-items: center;
}


.books-container {
  /* position: absolute; */
  border-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  margin: 2em 0em 0em 0em;
  justify-content: center;
}

.book-card img {
  width: 4em;
  height: 6em;
  padding: .5em;
}

.book-card:hover img{
  width: 6em;
  height: 9em;
}

h1.books-h1 {
  display: block;
  position: absolute;
  text-align: center;
  justify-content: center;
  /* padding: 14em 0em 0em 0em; */
  font-size: .75em;
  letter-spacing: .4em;
  top: 1.5em;
  width: 100%;
  text-align: center;
}
